@import url("css-variables.css");

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
}

#carouselExampleFade {
  margin-bottom: 10px;
}

.carousel .carousel-item {
  position: relative;
  /*  Carousel behind */
  top: 0px;
  padding-top: 0px;
  width: 100%;
  position: relative;
  /*  Carousel behind */
  top: 0px;
  height: 600px;
  z-index: -1px;
}

.carousel .carousel-item active {
  height: 600px;
}

.section {
  width: 100%;
}

.section .container {
  width: 80%;
  display: block;
  margin: 0px;
  margin: 0px auto;
  padding: 80px 0px;
}

.container .title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.container .title h1 {
  font-size: 50px;
  color: rgba(48, 92, 117, 0.47);
  font-family: 'Allura', 'Neonderthaw', cursive;
  font-weight: 600;
}

.container .title h1::after {
  content: "";
  height: 1px;
  width: auto;
  background-color: maroon;
  border-radius: 25px;
  display: block;
  margin: auto;
}

.container .content .article p {
  font-size: 18px;
}

.content .article #button {
  margin-top: 50px;
}

.content .article #button {
  background-color: rgba(48, 92, 117, 0.47);
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.content .article #button:hover {
  color: #fff;
  background-color: rgba(48, 92, 117, 0.8);
  transition: 1s ease;
}

.timings {
  margin-top: 8%;
  border-style: solid;
  border-color: rgba(48, 92, 117, 0.47);
  border-width: 2px;
  padding: 20px;
}

.timings p {
  text-align: center;
  font-size: 22px;
}

.timings h2 {
  text-align: center;
  font-weight: 600;
  font-family: 'Allura', 'Neonderthaw', cursive;
  color: rgba(48, 92, 117, 0.47);
  font-size: 40px;
}

.find {
  text-align: center;
  margin-top: 8%;
  font-weight: 600;
  font-family: 'Allura', 'Neonderthaw', cursive;
  color: rgba(48, 92, 117, 0.47);
  font-size: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.address {
  font-size: 20px;
  background-color: rgba(48, 92, 117, 0.47);
  color: white;
  height: 405px;
  border-style: solid;
  border-left-width: 15px;
  padding: 60px;
  padding: 90px;
}

.newsletter h4 {
  font-family: 'Allura', 'Neonderthaw', cursive;
  color: rgba(48, 92, 117, 0.47);
  font-size: 30px;
  font-weight: 600;
}

.newsletter p {
  font-size: 20px;
}

.newsletter .button {
  padding: 12px 30px;
  background-color: rgba(48, 92, 117, 0.47);
  color: #fff;
  font-size: 20px;
  border: none;
  margin-left: 8px;
}

.newsletter .button:hover {
  color: #fff;
  background-color: rgba(48, 92, 117, 0.8);
  transition: 1s ease;
}

.social h5 {
  font-family: 'Allura', 'Neonderthaw', cursive;
  color: rgba(48, 92, 117, 0.47);
  font-size: 30px;
  font-weight: 600;
}

.social .fa {
  padding: 10px;
  font-size: 15px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.social .fa:hover {
  opacity: 0.7;
}

.social .fa-facebook {
  background: #3B5998;
  color: white;
}

.social .fa-twitter {
  background: #55ACEE;
}

.container .fa-facebook {
  background: #3b5998;
  color: white;
}

.container .fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}