@import url("css-variables.css");

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body{
  background-image: url("../images/events/background-event.jpg");
}

.banner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/events/magician.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
  position: absolute;
  top: 40%;
  /* transform: translateY(-50%); */
  text-align: center;
}

.content h1 {
  font-size: 70px;
  font-size: 4rem;
  margin-top: 125px;
  font-family: 'Allura', 'Neonderthaw', cursive;
  color: white;
  transition: all 0.3s;
}

.content h1:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.32);
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  font-size: 24px;
  color: white;
  transition: all 0.3s;
}

.content h1:hover,
.content p:hover {
  color: var(--navbar-color-hover);
  transition: all 0.3s;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 100px 15.2vw;
  align-items: flex-end;
}

.event-category {
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
  font-family: 'Allura', 'Neonderthaw', cursive;
  margin-top: 80px 0 0 0;
  color: rgba(48, 92, 117, 0.47);
  font-weight: 600;
}

.event-category::after {
  content: "";
  height: 1px;
  width: auto;
  background-color: maroon;
  border-radius: 25px;
  display: block;
  margin-top: 5px 0 10px 0;
}

.event-price {
  text-align: center;
  font-size: 18px;
  margin-bottom: -180px;
}

.event-container::-webkit-scrollbar {
  display: none;
}

.event-card {
  flex: 0 0 auto;
  width: 300px;
  height: 400px;
  margin-top: 120px;
}

.event-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
}

.event-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.8s;
}

.event-thumb:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.28);
}

.booking a {
  color: #FFFFFF;
  text-decoration: none;
}

.booking {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: rgba(48, 92, 117, 0.47);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  color: whitesmoke;
  font-size: 15px;
  border-radius: 15px;

}

.event-card:hover .booking {
  opacity: 1;
}

.booking:hover {
  background: rgba(48, 92, 117);

}

.event-name {
  font-family: 'Allura', 'Neonderthaw', cursive;
  font-size: 30px;
  color: rgba(48, 92, 117, 0.47);
  font-weight: 600;
  border: solid;
  border-color: rgba(48, 92, 117);
  border-width: 1px;
  text-align: center;
  border-radius: 15px;

}

.event-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  text-align: center;
}

.event-person {
  text-transform: uppercase;
  text-align: center;
}

.event-description {
  width: 100%;
  height: 30px;
  line-height: 25px;
  overflow: hidden;
  text-transform: capitalize;
  margin: 5px 0;
  font-size: 20px;
  margin-bottom: 10rem;
}

.timings {
  font-size: 20px;
  font-weight: bold;

}

@media screen and (max-width: 1800px) {
  .event-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
  }
}

@media screen and (max-width: 1350px) {

  .event-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 880px) {
  .event-container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .event-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}