@import url("css-variables.css");


* {
  box-sizing: border-box;
}

* body {
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */ /*Hide vertical scrollbar  */
}

::webkit-scrollbar {
  display: none;
}

.web-design {
  position: absolute;
  top: 95%;
  left: 18px;
  font-size: 20px;
  color: var(--navbar-color);
  font-family: 'Allura', 'Neonderthaw', cursive;
  transition: all 0.2s ease;
}

.web-design:hover {
  color: var(--navbar-color-hover);
  cursor: pointer;
  transform: scale(1.5) translate(35px, -10px);
  transition: all 0.3s ease;
}

.navbar {
  width: 100%;
  background-color: var(--navbar-background);
  color: var(--navbar-color);
  height: 90px;
}

.restaurant-title {
  width: 15%;
}

.logo-img {
  height: 80px;
  margin: -22px 0 0 10px;
  padding: 5px 0 5px 0;
  transition: all 0.2s ease;
}

.logo-img:hover {
  transform: scale(0.98);
  transition: all 0.3s ease;
}

.navbar-links {
  padding-top: 17px;
}

.navbar-links ul {
  display: flex;
  margin-top: -5px;
}

.navbar-links li {
  list-style: none;
  transition: var(--navbar-transition);
}

.navbar-links li a {
  float: block;
  font-family: 'Allura', 'Neonderthaw', cursive;
  text-decoration: none;
  font-size: 2.2rem;
  color: var(--navbar-color);
  padding: 10px 20px 10px 20px;
  transition: var(--navbar-transition);
}

.navbar-links ul li a:hover {
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--navbar-color-hover);
  transition: var(--navbar-transition);
}

.navbar-links ul li .active-link {
  color: var(--navbar-color-hover);
  font-size: 2.3rem;
}

.cart ion-icon {
  margin: 3px 20px 0 10px;
  padding: 4px;
  border-radius: 50%;
  position: fixed;
  top: 90px;
  color: var(--navbar-color);
  font-size: 2.5rem;
  right: 4px;
  background: var(--navbar-background);
}

.cart ion-icon:hover {
  color: var(--navbar-color-hover);
  transform: scale(1.15);
  transition: var(--navbar-transition);
}

.items-in-cart {
  position: fixed;
  top: 85px;
  right: 4px;
  font-size: 0.9rem;
  background-color: var(--navbar-background);
  color: var(--navbar-color);
  border: 1px solid var(--navbar-color);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}


.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1.3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--navbar-color);
  border-color: var(--navbar-color-hover);
  border-radius: 10px;
  transition: all 1s ease;
}

.navbar-active {
  height: 0px;
  transition: all 0.3s ease;
}


/* Perhaps there is a more simple solution to this using JS,
     anyhow, it was nice exercise..*/

@media (max-width: 900px) {
  .navbar {
    background: rgba(128, 128, 128, 0);
    flex-direction: column;
    align-items: flex-start; 
    height: 0px;
    width: 100%;
  }

  .navbar-active {
    background: var(--navbar-background);
    height: 350px;
    transition: all 0.3s ease;
    width: 100%;
    align-items: center;
  }

  .logo-img {
    transform: scale(0.9);
    margin: 0 0 0 8px;
    transition: all 0.3s ease;
  }

  .toggle-button {
    display: flex;
    transition: all 1s;
  }

  .toggle-button:hover {
    transform: rotate(180deg);
    color: 2px solid var(--navbar-color-hover);
    transition: all 1s;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
    width: 100%;

  }

  .navbar-links ul {
    flex-direction: column;
    margin-left: 18%;
    text-align: center;
  }

  .navbar-links ul li {
    margin-top: 10px;
    width: 100%;
  }

  .navbar-links li a {
    transition: all 0.3s ease;
  }

  .cart ion-icon {
    margin-left: 20px;
    padding: 0px;
    border-radius: 50%;
  }
  
  .bar.active-top {
    transform: translateY(9px) rotate(45deg);
    transition: all 1s ease;
  }
  
  .bar.active-middle {
    transform: scale(0);
    transition: all 1s ease;
  }
  
  .bar.active-bottom {
    transform: translateY(-9px) rotate(-45deg);
    transition: all 1s ease;
  }

}
