html {
  scroll-behavior: smoth;
}

::webkit-scrollbar {
  display: none;
}

body {
  background-image: url("../images/book1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.central-body {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 70%;
}

.bookingheading {
  text-align: center;
  color: aliceblue;
}

.booking-form {
  background-color: #dcf3f8ad;
  color: #0C0A3E;
}

.h-blue, h4 {
  background-color: #0C0A3E;
  color: #EEF4D4;
}

.btn-primary {
  background-color: white;
  border-color: white;
  color: #3f51b5;
  font-weight: bold;
  width: 200px;
}

.btn-primary:hover {
  background-color: white;
  border-color: white;
  color: #3f51b5;
}

.center {
  text-align: center;
}
